body {
    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profileImage {
    width: 200px;
}
.profile h2 {
    color: white;
}
.profile h4 {
    color: white;
    transform: translateY(-10px);
}
.biodata {
    background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
    padding-bottom: 100px;
    padding-top: 55px;
}
.achievement{
    padding-top: 55px;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.footer {
    background-color: #fff;
    padding-bottom: 30px;
}
.contact a{
    color: black;
    font-size: 30px;
}
.watermark {
    padding-top: 30px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#9a08dd 100%, #dd4c4f 25%);
    font-family: Arial, sans-serif;
}
